@import "tailwindcss";
/* Add this line at the top of your global CSS */
@import "leaflet/dist/leaflet.css";

@page {
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --color-vintage:#F5ECE0;
  }